@charset 'utf-8';
@import url(./my_reset.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

/* img_txt */
.sec1 {
  background-color: #292a32;
  border: 1px solid red;
  height: 120vh;
}
.sec1 .img_txt {
  font-size: 10rem;
  font-weight: bold;
  text-align: center;
}
.sec1 .img_txt p {
  background-image: url(../img/sub_txt_BG.jpg);
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  letter-spacing: 1rem;
  color: transparent;
}
